
fastapi
uvicorn
# Physical & Orbital Libraries
skyfield
requests
# AI & Data Science Libraries
pandas
scikit-learn
joblib
numpy
# NEW: Earth Observation & Sensor Simulation
xarray
netCDF4
scipy
# Database
sqlalchemy
psycopg2-binary